/* Personally customize cards without affecting Bootstrap 'card' clas */
.custom-card {
    margin-top: 28px !important;
    background-color: black;
    
}

.custom-card-body {
    color: white;
}

.custom-header {
    background-color: black;
}

.custom-img {
    background-color: black;
}


/* Center the footer */
footer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100px;
}

/* .page-header {
    cursor: none; Hide the default cursor */
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; 
} */

/* #cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; Ignore the cursor when interacting with other elements */
    /* z-index: 1000;
} */

/* .hidden-text {
    color: black;
    font-size: 24px;
    visibility: hidden;
} */

/* .page-header:hover .hidden-text {
    visibility: visible;
    color: white;
} */
.custom-img {
    height: 24rem;}


a {
    color: inherit; /* Makes the link use the text color of its parent */
    text-decoration: none; /* Removes underline from links */
    background-color: transparent; /* Ensures no background color */
}

a:hover, a:focus {
    color: #0d6efd; /* Optional: keeps the link color the same on hover/focus */
    text-decoration: none; /* Removes text decoration on hover/focus */
    background-color: transparent; /* Ensures no background change on hover/focus */
}
